Django==5.1.6
openai==1.75.0
python-dotenv==1.1.0
requests==2.32.3
whitenoise==6.9.0
psycopg2-binary>=2.9.0
channels==4.2.2
daphne==4.1.2
Twisted[http2,tls]>=22.10.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0