.main-search-section {
    background: linear-gradient(135deg, #527d96, #3498db);
    color: white;
    padding: 4rem 0;
}

.search-header {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

.search-header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.search-form .input-group {
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.category-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    color:black;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.category-icon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}