{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аналог HH.ru</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="index-body">
    {% include "footer.html" %}
    <div class="index-container">
        <h1 class="index-h1">Добро пожаловать!</h1>
        <p>Оценка резюме с помощью ИИ и подбор подходящих вакансий</p>
        <button class="animated-button index-button" onclick="location.href='{% url 'vacancies_list' %}'">Перейти</button>
    </div>
</body>
</html>
