{% load static %}

<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список вакансий</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="vacancies-list-body">
    {% include "menu.html" %}
    
    <div class="vacancies-list-container">
        <h1 class="vacancies-list-h1">Список вакансий</h1>
        <ul>
                <li>
                    {{ vacancy.title }}
                </li>
                <li>Нет вакансий.</li>
        </ul>

        <button class="index-button" onclick="location.href='{% url 'add_vacancy' %}'">Добавить вакансию</button>
    </div>
    {% include "footer.html" %}

</body>
</html>

