{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить вакансию</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/vacancies/add_vacancy.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body class="vacancies-list-body">
    {% include "../main/menu.html" %}
    <div class="vacancy-add-card card-box" style="margin-bottom: 20px;">
        <h1 class="vacancies-list-h1">Добавить вакансию</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name != 'min_salary' and field.name != 'max_salary' and field.name != 'currency' %}
                    <div class="container mb-3">
                        {{ field }}
                        {% if field.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="salary container mb-3">
                <p class="text-muted"><i>Требуется указать хотя бы минимальную зарплату</i></p>
                <div class="row">
                    <div class="col">
                        {{ form.min_salary }}
                        {% if form.min_salary.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in form.min_salary.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-auto"> {# Use col-auto for the separator column #}
                        -
                   </div>
                    <div class="col">
                        {{ form.max_salary }}
                         {% if form.max_salary.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in form.max_salary.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.currency }}
                    </div>
                </div>
            </div>
            <h4>Теги</h4>
            <h6>(Через пробел)</h6>
            <h6 class="text-muted"><i>Они вовсе не необходимы, но если не указать некоторые из них, то ИИ сгенерирует их сам на основе описания вашей компании и вакансии</i></h6>
            <div class="container mb-3">
                <input type="text" class='form-control container' name="specialization" id="specializatin" placeholder="Специализация сотрудника">
            </div>
            <div class="container mb-3">
                <input type="text" class='form-control container' name="occupancy" id="occupancy" placeholder="Условия работы">
            </div>
            <div class="container mb-3">
                <input type="text" class='form-control container' name="position" id="position" placeholder="Позиция по должности">
            </div>
            <div class="container mb-3">
                <input type="text" class='form-control container' name="tech" id="tech" placeholder="Технологии">
            </div>
            <div class="container mb-3">
                <input type="text" class='form-control container' name="industry" id="industry" placeholder="Сфера деятельности компании">
            </div>
            <button type="submit" class="btn btn-primary mt-3 w-75" style="padding: 12px; background-color: #00c4a0; border: none; font-size: 1.1rem">Добавить вакансию</button>
        </form>
    </div>
    {% include "../main/footer.html" %}
</body>
</html>
