{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить вакансию</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/vacancies/vacancy_add.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="vacancies-list-body">
    {% include "../main/menu.html" %}
    <div class="vacancy-add-card card-box">
        <h1 class="vacancies-list-h1">Добавить вакансию</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-floating mb-3">
                    {{ field|add_class:"form-control" }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Добавить вакансию</button>
        </form>
    </div>
    {% include "../main/footer.html" %}
</body>
</html>
