{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ vacancy.title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/vacancies/vacancy_detail.css' %}">
</head>

<body class="vacancy-detail-body">
    {% include "../main/menu.html" %}

    <div class="vacancy-detail-container">
        <h1 class="vacancy-title">{{ vacancy.title }}</h1>
        <p>{{ vacancy.description }}</p>
        <p>{{ vacancy.required_experience }} лет</p>
        <p>{{ vacancy.required_education }}</p>
        <p>{{ vacancy.required_skills|join:", " }}</p>
        {% if user|is_instance:'CUser' %}
            <a href="{% url 'apply_to_vacancy' vacancy_id=vacancy.id %}" class="btn btn-primary">Откликнуться</a>
        {% endif %}
    </div>
</body>

</html>
