{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ vacancy.title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/vacancies/vacancy_detail.css' %}">
</head>

<body class="vacancy-detail-body">
    {% include "../main/menu.html" %}

    <div class="vacancy-detail-container">
        <h1 class="vacancy-title">{{ vacancy.title }}</h1>
        <p>{{ vacancy.description }}</p>
        {% if request.user %}
            {% if request.user.role == 'user' %}
                {% if not is_applied %}
                    <button class="btn btn-primary" onclick="location.href='{% url 'apply_to_vacancy' vacancy_id=vacancy.id %}'">Откликнуться</button>
            {% else %}
                <p>Вы уже откликнулись на эту вакансию</p>
            {% endif %}
        {% endif %}
    </div>
</body>

</html>
