.salary .row {
    display: flex;
    align-items: center;
}

.salary .row .col,
.salary .row .col-auto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.salary .row .col-auto {
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    flex-shrink: 0;
}


.salary .row .col .form-control {
    flex-grow: 1;
    height: auto;
    min-height: 38px;
    align-self: stretch;
}